Repository handley-lab/lsbi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, black, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "lsbi/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: "."
      - id: isort
        name: isort
        entry: isort
        args: [ "--profile", "black", "--filter-files" ]
        language: system
        types: [python]
        files: "."

Further correction s following #23 to build structure
  .github/workflows/build.yaml
Due: none

bump version to 0.9.3
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Corrected bump version
  bin/bump_version.py
Due: black, isort

Corrected zenodo README
  README.rst
Due: none

Further ci_corrections (#24)
  .github/workflows/build.yaml
  README.rst
  bin/bump_version.py
  lsbi/_version.py
Due: pydocstyle, black, isort

bump version to 0.9.4
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Further correction to build structure
  .github/workflows/build.yaml
Due: none

Further CI correction to build system (#25)
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Added conda badge to readme
  README.rst
Due: none

bump version to 0.9.5
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Conda badge (#26)
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

bump version to 0.9.6
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Corrected workflow file
  .github/workflows/build.yaml
Due: none

Post build checks (#27)
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

bump version to 0.9.7
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

bump version to 0.9.7 (#28)
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Added a new badge
  .github/workflows/build.yaml
  README.rst
Due: none

bump version to 0.9.8
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

New build badge (#29)
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

bump version to 0.10.0
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

cleanup
  lsbi/stats.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Tests passing
  lsbi/stats.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Slightly safer tests
  tests/test_stats.py
Due: black, isort

Added a test model
  lsbi/model.py
Due: pydocstyle, black, isort

Moved to a squeezed output
  lsbi/stats.py
  tests/test_stats.py
Due: pydocstyle, black, isort

model now tested
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Removed now unecessary _atleast_1d from multimultivariatenormal
  lsbi/model.py
Due: pydocstyle, black, isort

Multi-multivariate normal distributions (#30)
  README.rst
  lsbi/_version.py
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Added a predict method to stats functions
  lsbi/stats.py
Due: pydocstyle, black, isort

Tests added
  lsbi/stats.py
  tests/test_stats.py
Due: pydocstyle, black, isort

All tests passing
  lsbi/stats.py
Due: pydocstyle, black, isort

bump version to 0.11.0
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Added other return docstrings
  bin/run_tests
  lsbi/stats.py
Due: pydocstyle, black, isort

Prediction methods for stats functions (#31)
  README.rst
  bin/run_tests
  lsbi/_version.py
  lsbi/stats.py
  tests/test_stats.py
Due: pydocstyle, black, isort

sanitise predict function
  README.rst
  lsbi/_version.py
  lsbi/network.py
  tests/test_networks.py
Due: pydocstyle, black, isort

add model function
  .pre-commit-config.yaml
  lsbi/model.py
  pyproject.toml
  tests/test_model.py
Due: pydocstyle, black, isort

bump version to 0.11.2
  README.rst
  lsbi/__init__.py
  lsbi/_version.py
Due: pydocstyle, black, isort

__init__.py docstring correction (#33)
  README.rst
  lsbi/__init__.py
  lsbi/_version.py
Due: pydocstyle, black, isort

rvs and logpdf working
  lsbi/stats_1.py
  tests/test_stats_1.py
Due: pydocstyle, black, isort
