Repository handley-lab/lsbi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, black, isort

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  args:
  - --profile
  - black
  - --filter-files
  language: system

Now covering ppd
  tests/test_model.py
Due: black, isort

Added a KL divergence
  lsbi/model.py
  lsbi/stats.py
  lsbi/utils.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Implemented broadcasting for mixture models
  lsbi/stats.py
Due: pydocstyle, black, isort

Fixed broadcasting tests
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
Due: pydocstyle, black, isort

Actually fixed broadcasting now
  lsbi/stats.py
Due: pydocstyle, black, isort

Removed in the end unecessary broadcasting code
  lsbi/model.py
  lsbi/stats.py
Due: pydocstyle, black, isort

Re-instated rvs with broadcast=True
  lsbi/model.py
  lsbi/stats.py
Due: pydocstyle, black, isort

Removed unusual conversion
  lsbi/stats.py
Due: pydocstyle, black, isort

Added plotting functions
  lsbi/plot.py
  tests/test_plot.py
Due: pydocstyle, black, isort

Added a plot member function to stats
  lsbi/stats.py
Due: pydocstyle, black, isort

Updated plot and stats to be recursive
  lsbi/plot.py
  lsbi/stats.py
Due: pydocstyle, black, isort

Multivariate restructure (#34)
  README.rst
  lsbi/__init__.py
  lsbi/_version.py
  lsbi/model.py
  lsbi/network.py
  lsbi/stats.py
  lsbi/utils.py
  tests/test_model.py
  tests/test_stats.py
  tests/test_utils.py
Due: pydocstyle, black, isort

1d->2d error
  lsbi/stats.py
Due: pydocstyle, black, isort

updated black adjustment
  lsbi/plot.py
Due: pydocstyle, black, isort

Updated sphinx documentation
  docs/source/lsbi.rst
Due: none

Removed pyproject.toml
  lsbi/network.py
  pyproject.toml
Due: pydocstyle, black, isort

Added anesthetic to plot optional dependency
  pyproject.toml
Due: none

Added anesthetic as a dependency
  pyproject.toml
Due: none

bump version to 0.12.1
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

updated sphinx
  docs/source/lsbi.rst
Due: none

Removed tests
  tests/test_networks.py
Due: black, isort

tests now available
  lsbi/plot.py
  lsbi/stats.py
  tests/test_plot.py
Due: pydocstyle, black, isort

Restricted tests to valid sections
  lsbi/plot.py
  tests/test_plot.py
Due: pydocstyle, black, isort

Halfway through stats
  tests/test_stats.py
Due: black, isort

implemented Bayesian model dimensionality
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Added mutual information and total dimensionality
  lsbi/model.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Updated model dimensionality for tests
  lsbi/model.py
  tests/test_model.py
Due: pydocstyle, black, isort

Tests now passing
  lsbi/model.py
  tests/test_model.py
Due: pydocstyle, black, isort

added monte carlo error estimates
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Trying to debug underestimate of dimensionality error
  lsbi/model.py
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Made some notes about bmd error estimation. To naut. Let's just give it generous error bars
  lsbi/stats.py
  tests/test_model.py
  tests/test_stats.py
Due: pydocstyle, black, isort

Cleaned up stats.py
  lsbi/stats.py
Due: pydocstyle, black, isort

Tests now up to date
  tests/test_model.py
  tests/test_stats.py
Due: black, isort

bump version to 0.13.0
  README.rst
  lsbi/_version.py
Due: pydocstyle, black, isort

Fixed documentation
  lsbi/model.py
  lsbi/stats.py
Due: pydocstyle, black, isort

Added first draft through new reduced model
  lsbi/model.py
Due: pydocstyle, black, isort

Minor updates and checks
  lsbi/model.py
Due: pydocstyle, black, isort

Codecov v4
  .github/workflows/unittests.yaml
Due: none

Updated the CONTRIBUTING.md to mention isort and black
  .github/CONTRIBUTING.md
Due: none

Path conditions:
  pydocstyle: any of: lsbi/ and \.py$
  black: any of: . and \.py$
  isort: any of: . and \.py$
