Repository handley-lab/lsbi: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, black, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "lsbi/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "lsbi/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: "."
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: "."

updated version check
  bin/check_version.py
Due: black, isort

Updated isort
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Removed flake8
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/CI.yaml
  .pre-commit-config.yaml
Due: none

Sanitised CI organisation
  .github/workflows/build.yaml
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
  .github/workflows/unittests.yaml
  .github/workflows/version.yaml
Due: none

Further renaming
  .github/workflows/unittests.yaml
Due: none

Changed pre-commit to checks
  .pre-commit-config.yaml
Due: none

Added back in pydocstyle
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
Due: none

Added test build and publish back in
  .github/workflows/pr_checks.yaml
Due: none

Black and isort compliance (#19)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yaml
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
  .github/workflows/unittests.yaml
  .github/workflows/version.yaml
  .pre-commit-config.yaml
  README.rst
  bin/bump_version.py
  bin/check_version.py
  bin/dependencies.py
  bin/gen_PKGBUILD.py
  bin/utils.py
  docs/source/conf.py
  lsbi/_version.py
  lsbi/model.py
  lsbi/stats.py
  lsbi/utils.py
  pyproject.toml
  tests/test_model.py
  tests/test_networks.py
  tests/test_scaffolding.py
  tests/test_stats.py
  tests/test_utils.py
Due: flake8, pydocstyle, black, isort

bump version to 0.8.3
  README.rst
  bin/bump_version.py
  bin/check_version.py
  bin/gen_PKGBUILD.py
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

bump version to 0.8.3 (#20)
  README.rst
  bin/bump_version.py
  bin/check_version.py
  bin/gen_PKGBUILD.py
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

bump version to 0.9.0
  README.rst
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

First draft pre-local testing
  lsbi/stats.py
  tests/test_stats.py
Due: flake8, pydocstyle, black, isort

isort
  lsbi/stats.py
  tests/test_stats.py
Due: flake8, pydocstyle, black, isort

Fixed incomplete test
  tests/test_model.py
  tests/test_stats.py
Due: flake8, black, isort

Added a conda build
  .github/workflows/pr_checks.yaml
Due: none

Corrected yaml
  .github/workflows/pr_checks.yaml
Due: none

activating base
  .github/workflows/pr_checks.yaml
Due: none

Added a bash shell
  .github/workflows/pr_checks.yaml
Due: none

Added a bash shell 2
  .github/workflows/pr_checks.yaml
Due: none

Added a build command
  .github/workflows/pr_checks.yaml
Due: none

Trying to get convert to work
  .github/workflows/pr_checks.yaml
Due: none

Trying just on linux for now
  .github/workflows/pr_checks.yaml
Due: none

Removing label
  .github/workflows/pr_checks.yaml
Due: none

Trying a different conda build
  .github/workflows/pr_checks.yaml
Due: none

trying label="auto"
  .github/workflows/pr_checks.yaml
Due: none

trying label=\'auto\'
  .github/workflows/pr_checks.yaml
Due: none

trying label=\'main\'
  .github/workflows/pr_checks.yaml
Due: none

Checked out to get git hash
  .github/workflows/pr_checks.yaml
Due: none

installing the anaconda client
  .github/workflows/pr_checks.yaml
Due: none

Upgraded to build
  .github/workflows/build.yaml
  .github/workflows/pr_checks.yaml
Due: none

Fix bijector bug in test suite (#21)
  README.rst
  lsbi/_version.py
  tests/test_model.py
  tests/test_stats.py
Due: flake8, pydocstyle, black, isort

Bump version
  README.rst
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

Conda build and upload (#22)
  .github/workflows/build.yaml
  .github/workflows/pr_checks.yaml
  README.rst
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

Corrected the build yaml file
  .github/workflows/build.yaml
Due: none

bump version to 0.9.2
  README.rst
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort

CI corrections post #22 (#23)
  .github/workflows/build.yaml
  README.rst
  lsbi/_version.py
Due: flake8, pydocstyle, black, isort
